body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  "nav nav nav nav nav"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside player player player player";
  grid-template-rows: 135px 1fr 1fr 1fr 1fr 1fr 1fr 135px;
  grid-template-columns: 450px 1fr 1fr 1fr 1fr;
  color: white;
}

.hidden {
  display: none;
}

nav {
  width: 100%;
  height: 135px;
  background-color: blue;
  grid-area: nav;
}

aside {
  grid-area: aside;
  background-color: darkblue;
}

.host-prompt {
  width: 100%;
  height: 90px;
  background-color: white;
  border: black solid 1px;
  color: black;
}

main {
  width: 100%;
  height: 100%;
  grid-area: main;
  background-color: lightblue;
}

table {
  width: 100%;
  height: 100%;
}

td {
  border: solid black 1px;
  grid-area: main;
  min-width: 100px;
  max-width: 175px;
}

.player {
  width: calc(100%/3);
  border: solid black 2px;
}
footer {
  grid-area: player;
  background-color: green;
  display: flex;
}

.score {
  height: 50%
}

.name {
  height: 50%
}