body {
  box-sizing: border-box;
  color: white;
  display: grid;
  font-family: helvetica;
  font-weight: 600;
  grid-template-areas: 
  "nav nav nav nav nav"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside main main main main"
  "aside player player player player";
  grid-template-columns: 450px 1fr 1fr 1fr 1fr;
  grid-template-rows: 135px 1fr 1fr 1fr 1fr 1fr 1fr 135px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.logo {
  fill: red;
}

.hidden {
  display: none;
}

nav {
  background-color: #0731B2;
  background-image: url(../images/new-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 900px 110px;
  grid-area: nav;
  height: 135px;
  width: 100%;
}

.game-control {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.start-btn,
.reset-btn {
  -moz-border-radius: 10px;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 10px;
  -webkit-box-sizing: border-box;
  background-color: #E29F56;
  border-radius: 10px;
  border: 5px solid #E29F56;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color:#fff;
  font-size: 1rem;
  font-weight: bold;
  outline: none;
  padding:10px 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease 0s;
  width: 100px;
}

.start-btn:hover,
.reset-btn:hover,
#user-submit-btn:hover {
  background-color: #fff;
  color: #0731B2;
  cursor: pointer;
  font-weight: bold;
}

aside {
  background-color: #0731B2;
  display: flex;
  flex-direction: column;
  grid-area: aside;
  justify-content: space-between;
}

.host-prompt {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 1.3rem;
  height: 110px;
  padding: 5px 10px;
}

.host-img {
  display: flex;
  justify-content: center;
}

.host-alex {
  height: 300px;
  width: 340px;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.host-btn {
  background: rgba(0, 0, 0, 0)
  border: 0;
}

#user-input {
  border-radius: 10px;
  font-size: 1.5rem;
  height: 137px;
  outline: none;
  padding: 5px 10px;
  resize: none;
  width: 95%;
}

#user-input::placeholder {
  font-size: 1.3rem;
}

#user-submit-btn {
  -moz-border-radius: 10px;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 10px;
  -webkit-box-sizing: border-box;
  background-color: #E29F56;
  border-radius: 10px;
  border-radius: 8px;
  border: 5px solid #E29F56;
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color:#fff;
  font-size: 1.1rem;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  transition: all 0.15s ease 0s;
  width: 100%;
}

main {
  background-image: url(../images/imgur.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  grid-area: main;
  height: 100%;
  width: 100%;
  z-index: 0;
}

table {
  background: rgba(0, 0, 0, 0.3);
  grid-area: main;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.cat-row {
  font-size: 1.6rem;
}

td {
  border: solid black 2px;
  font-size: 2rem;
  grid-area: main;
  height: 5px;
  padding: 15px;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  width: 100px;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover {
  color: yellow;
  cursor: pointer;
  transition-duration: 0.3s;
}

.player {
  border: solid black 2px;
  width: calc(100%/3);
}

.name,
.score {
  align-items: center;
  display: flex;
  font-size: 2.3rem;
  height: 50%;
  justify-content: center;
}

.player-two {
  border-left: white solid 2px;
  border-right: white solid 2px;
}

footer {
  background-color: #0731B2;
  display: flex;
  grid-area: player;
}

.player-one-name {
  border-top: white solid 2px;
  font-family: 'Indie Flower', cursive;
}

.player-two-name {
  border-top: white solid 2px;
  font-family: 'Walter Turncoat', cursive;
} 

.player-three-name {
  border-top: white solid 2px;
  font-family: 'Nanum Brush Script', cursive;
}